<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ccc_Test>
			<version>0.0.5</version>
		</Ccc_Test>
	</modules>
	<global>
		<blocks>
			<test>
				<class>Ccc_Test_Block</class>
			</test>
		</blocks>
		<helpers>
			<test>
				<class>Ccc_Test_Helper</class>
			</test>
		</helpers>
		<models>
			<test>
				<class>Ccc_Test_Model</class>
				<resourceModel>test_resource</resourceModel>
			</test>
			<test_resource>
				<class>Ccc_Test_Model_Resource</class>
				<entities>
	                <test>
	                    <table>test</table>
	                </test>
	                <test_datetime>
	                	<table>test_datetime</table>
		            </test_datetime>
		            <test_decimal>
		                <table>test_decimal</table>
		            </test_decimal>
		            <test_int>
		                <table>test_int</table>
		            </test_int>
		            <test_text>
		                <table>test_text</table>
		            </test_text>
		            <test_varchar>
		                <table>test_varchar</table>
		            </test_varchar>
		            <test_char>
		                <table>test_char</table>
		            </test_char>
		            <eav_attribute>
                        <table>test_eav_attribute</table>
                    </eav_attribute>
		        </entities>
			</test_resource>
		</models>
		<resources>
			<test_setup>
				<setup>
					<module>Ccc_Test</module>
					<class>Ccc_Test_Model_Resource_Setup</class>
				</setup>
			</test_setup>
		</resources>
	</global>
	<adminhtml>
		<menu>
			<test>
				<title>Test</title>
				<sort_order>100</sort_order>
				<children>
					<test>
						<title>Manage Test</title>
						<sort_order>100</sort_order>
						<action>test/Adminhtml_Test</action>
					</test>
					<test_attribute>
						<title>Manage Attribute</title>
						<sort_order>100</sort_order>
						<action>test/Adminhtml_Test_Attribute</action>
					</test_attribute>
					<test_set>
						<title>Manage Attribute set</title>
						<sort_order>100</sort_order>
						<action>test/Adminhtml_Test_Set</action>
					</test_set>
				</children>
			</test>
		</menu>
		<layout>
			<updates>
				<test>
					<file>test.xml</file>
				</test>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<test>
				<use>admin</use>
				<args>
					<module>Ccc_Test</module>
					<frontName>test</frontName>
				</args>
			</test>
		</routers>
	</admin>
</config>